h1 {
  text-align: center;
  color: white;
}

.display {
  display: flex;
  justify-content: center;
  border-top: 5px solid #333333;
  border-bottom: 5px solid #333333;
}

.column {
  width: 18%;
  padding: 25px 0px;
}

.images img {
  display: block;
  height: 100px;
  width: auto;
  margin: 20px;
}

.songs p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  margin: 20px;
  color: white;
}

.artists p {
  font-size: 18px;
  height: 100px;
  margin: 20px;
  color: white;
}

.lengths p {
  font-size: 16px;
  height: 100px;
  margin: 20px;
  text-align: right;
  color: white;
}

.links a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  margin: 20px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
  color: white;
}

input {
  padding: 5px 10px;
  font-size: 14px;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #404040;
}

body {
  background-color: #1a1a1a;
}